<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996343463482-5up21ffui2kmr9cc8laqd1oni95nhrs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996343463482-5up21ffui2kmr9cc8laqd1oni95nhrs8</string>
	<key>API_KEY</key>
	<string>AIzaSyBMqpE3pJzj8V2oCPaXEsGC_1g95mHDwKE</string>
	<key>GCM_SENDER_ID</key>
	<string>996343463482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.SwiftUI2-0-Login-DatingApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-10c5d</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-10c5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996343463482:ios:31450a8000bd92faed3f03</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerce-10c5d.firebaseio.com</string>
</dict>
</plist>